@import url(//db.onlinewebfonts.com/c/ad26818d844de4534fd78bb03028ca79?family=Shopify+Sans+Web+Medium);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: ShopifySans, Helvetica, Arial, sans-serif !important;
}

header {
    background: linear-gradient(203deg, rgba(132, 174, 241, .867) 8.4%, #26ee9f78 30.67%, rgba(21, 188, 223, .333) 70.04%, #fff0 85%);
    background-size: cover;
    height: 100%;

}

#nav-bg {
    height: 80px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.778) 60%, rgba(255, 255, 255, 0.789) 75%, #0000);
}

.nav-font {
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

#btn-1 {
    background: none;
    border: none;
    color: black;
}

.resp-01 {
    margin-left: 3rem;
}

#btn-1:hover {
    text-decoration: underline;
}

#btn-2 {
    background: black;
    color: white;
    border: none;
}

#btn-3 {
    border: 1px solid rgb(154, 154, 154) !important;
    background: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btn-3:hover {
    border: 1px solid black !important;
}

#btn-4 {
    background: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    position: relative;
    top: 5px;
    right: 142px;
    z-index: 2;
}

#box-1 {
    width: 95%;
}

#inpt-1 {
    height: 65px;
    position: relative;
    z-index: 0;
}

#head-1 {
    font-size: 6rem;
    line-height: 100px;
    width: 100%;
    margin-top: 2rem;
    font-weight: 600;
}

#head-2 {
    font-size: 1.375rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 75%;
    font-weight: 400;
}

#head-3 {
    font-size: .75rem;
    margin-top: 1rem;
    line-height: 1rem;
    width: 75%;
}


#chartdiv {
    width: 45%;
    height: 500px;
    margin-left: 0;
    margin-top: 6rem;
    position: relative;
    right: 200px;
}

.grad {
    background-image: linear-gradient(18deg, rgb(255, 255, 255) 70%, rgb(21 189 223 / 40%) 92%, #26ee9f6e 100%);
    margin-left: auto !important;
    margin-right: auto !important;
}

#head-4 {
    font-size: 50px;
    font-weight: 600;
}

#head-5 {
    background-image: linear-gradient(90deg, #e9f9f4, #cfebfe 45.31%, #f2eefe);
}

#box-2 {
    height: fit-content;
    margin-right: auto;
    margin-left: 1rem;
    margin-top: 6rem;
}

#box-3 {
    display: inline-block;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 5px;
    height: fit-content;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, rgb(117, 202, 255) 50%, rgb(75, 255, 210))1 100%;
}

#head-006 {
    margin-top: 1rem;
}

g [aria-labelledby="id-72-title"] {
    display: none !important;
}

#box-4 {
    display: inline-block;
    margin-top: 70px;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
    margin-left: 7rem;
    border-left: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, rgb(117, 202, 255) 50%, rgb(75, 255, 210))1 100%;
}

#box-5 {
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
    border-left: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, rgb(117, 202, 255) 50%, rgb(75, 255, 210))1 100%;
}

#box-6 {
    display: inline-block;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 7rem;
    border-left: 5px;
    height: fit-content;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, rgb(117, 202, 255) 50%, rgb(75, 255, 210))1 100%;
}

.head-5 {
    font-size: 2.25rem;
    font-weight: 500;
}

.head-6 {
    font-size: 1rem;
    --tw-text-opacity: 1;
    color: rgb(87 87 87/var(--tw-text-opacity));
}

.head-7 {
    font-size: 1.1rem;
}

.head-8 {
    margin-top: 10rem;
    --tw-text-opacity: 1;
    color: rgb(87 87 87/var(--tw-text-opacity));
    margin-left: 3.5rem;
}

#video-1 {
    display: block;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#video-2 {
    display: none;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#video-3 {
    display: none;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#container-01 {
    cursor: pointer;
}

#container-02 {
    cursor: pointer;
}

#container-03 {
    cursor: pointer;
}

.head-9 {
    margin-top: 3rem;
    margin-left: 7.8rem;
    font-size: 46px;
    font-weight: 700;
}

.head-10 {
    margin-top: 15rem;
    --tw-text-opacity: 1;
    color: rgb(87 87 87/var(--tw-text-opacity));
    margin-left: 7.8rem;
}

.head-11 {
    --tw-text-opacity: 1;
    color: rgb(87 87 87/var(--tw-text-opacity));
}

.border-01 {
    border-top: 3px solid rgb(210, 210, 210);
    margin-left: 1.5rem;
}

.link-02 {
    color: black;
    text-decoration: underline;
}

#link-03 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: black;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: left;
    font-weight: 600;
}

.fa-arrow-right {
    margin-left: 8rem;
}

.arrow-01 {
    margin-left: 8rem;
}

.head-12 {
    font-size: 4rem;
    margin-left: 6.5rem;
    line-height: 75px;
    font-weight: 700;
}

.margin-01 {
    margin-left: 13rem;
}

.margin-02 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin-03 {
    margin-right: 8rem;
}

.Picture-01 {
    border-radius: 10px;
}

#link-03 {
    text-decoration: none !important;
}

.head-main {
    font-size: 1rem;
    --tw-text-opacity: 1;
    color: rgb(8 68 94/var(--tw-text-opacity));
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.para-1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 1.5rem;
}

.para-2 {
    --tw-text-opacity: 1;
    color: rgb(61 63 64/var(--tw-text-opacity));
    font-size: 1rem;
    margin-bottom: 4rem;
}

.link-04 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: black;
    border-bottom: 2px solid black;
    padding: 15px;
    text-align: left;
    font-weight: 600;
}

.margin-04 {
    margin-left: auto;
    margin-right: 4rem;
    margin-top: 12rem;
}

.vid-01 {
    margin-left: 4rem;
}

.margin-05 {
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 6rem;
    border-radius: 12px;
}

.margin-06 {
    margin-left: 4rem;
    margin-top: 12rem;
    margin-right: auto;
}

.margin-07 {
    margin-left: auto;
    margin-top: 7rem;
}

.arrow-02 {
    margin-left: 0.5rem;
    font-size: medium;
    display: none !important;
}

.play01 {
    font-size: 10px;
    margin-right: 0.3rem;
    top: -1px !important;
}

.hover:hover .arrow-02 {
    display: inline !important;
}

.hover {
    cursor: pointer;
}

.link-05 {
    margin-left: 15rem;
    margin-right: auto;
    color: black;
    font-size: 1.125rem;
    border-bottom: 2px solid black;
    padding: 15px;
    line-height: 1.75rem;
    display: inline;
    font-weight: 600;
}

.head-sub {
    font-size: 1rem;
    --tw-text-opacity: 1;
    color: rgb(8 68 94/var(--tw-text-opacity));
    font-weight: 500;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-top: 8rem;

}

.heading-main01 {
    display: inline-block;
    font-size: 4.5rem;
    line-height: 1;
    margin-left: 4.5rem;
    margin-bottom: 6rem;
    width: 600px;
    font-weight: 700;
}

.image-inline {
    display: inline;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
}

.head-inline {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 1.75rem;
    font-weight: 600;
}

.para-02 {
    font-size: 1.2rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(61 63 64/var(--tw-text-opacity));
    margin-bottom: 2.75rem;
}

#myVideo01 {
    margin-top: 2rem;
    margin-right: 3rem;
}

#myVideo04 {
    margin-top: 2rem;
    margin-right: 3rem;
    display: none;
}

#myVideo03 {
    margin-top: 2rem;
    margin-right: 3rem;
    display: none;
}

#videoSec {
    margin-top: 2rem;
    margin-left: 3rem;
}

#imageSec01 {
    margin-top: 2rem;
    margin-left: 3rem;
    display: none;
}

#imageSec02 {
    margin-top: 2rem;
    margin-left: 3rem;
    display: none;
}

.section-01 {
    margin-right: auto;
    margin-left: 5rem;
}

.border-bot {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.link-06 {
    display: inline;
    margin-left: 22rem;
    margin-right: auto;
    color: black;
    font-size: 1.125rem;
    border-bottom: 2px solid black;
    padding: 15px;
    line-height: 1.75rem;
    font-weight: 600;
}

.section-02 {
    margin-left: auto;
    margin-right: 5rem;
}

.buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
}

.buttons-01 button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
}

.buttons-03 button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
}

#scnd-btn {
    display: none;
}

.buttons {
    margin-top: 18px;
    text-align: left;
    margin-left: 2rem;
}

.buttons-01 {
    margin-left: auto;
    margin-right: 0rem;
    text-align: right;
    margin-top: 18px;
}

.buttons-03 {
    margin-left: 3rem;
    margin-right: auto;
    text-align: left;
    margin-top: 2px;
}

.buttons-02 button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
}

.buttons-02 {
    margin-left: auto;
    margin-right: 0rem;
    text-align: right;
    margin-top: 18px;
}

.buttons-04 button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
}

.buttons-04 {
    margin-left: auto;
    margin-right: 0rem;
    text-align: right;
    margin-top: 18px;
}

.navbar-toggler span {
    display: block;
    background-color: #000000;
    height: 4px;
    width: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 2px;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
    transition: all 0.4s;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
    transition: all 0.4s;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
    transition: all 0.4s;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
    transition: all 0.4s;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 0.4s;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
    transition: all 0.4s;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 0.4s;
}

#anyid55 {
    position: relative;
    z-index: 3;
}

.fa-play {
    position: relative;
    right: -1px;
    top: 0;
}

.font-01 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity));
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.animate {
    background: linear-gradient(86deg, #89ffbf 10.26%, #a4fa84 53.53%, #b3a7ff);
    margin-top: 8rem;
}

.dropdown-item {
    cursor: pointer;
    overflow: hidden;
}

.d-002 {
    padding: 0 !important;
    width: 1520px;
    left: -382px !important;
}

.d-001 {
    width: 1533px;
}

#d-01 {
    padding: 50px;
}

#d-02 {
    padding: 50px;
    margin-top: 40px;
}

#d-03 {
    padding: 50px;
}

#d-04 {
    padding: 50px;
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

.dropdown-toggle:after {
    transition: 0.3s;
}

.dropdown-header {
    font-size: 1.2rem;
    font-weight: 600;
    color: black !important;
}

.dropdown-divider {
    border-top: 1px solid #c7c8c8 !important;
}

.dropdown-item {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    line-height: 1.5rem;
}

.dropdown-item p {
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(61 63 64/var(--tw-text-opacity));
    margin-top: 3px;
}

#d-01 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244/var(--tw-bg-opacity));
    height: fit-content5
}

.line-hei {
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 500;
}

.d-004 {
    width: 1519px;
}

.d-003 {
    width: 1505px;
    left: -214px !important;
}

#d-05 {
    padding: 50px;
}

#d-06 {
    padding: 50px;
}

#d-07 {
    padding: 50px;
}

#d-08 {
    padding: 50px;
}

#store {

    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
}

#graph {
    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
}

#sell {
    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
}

#hammer {
    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
}

#pencil {
    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
}

#help {
    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
    width: 40px;
}

#bag {
    border: 2px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 50%;
}

.fa-info:before {
    right: -4px;
    position: relative;
    top: -1px;
}

.animation01 p::after {
    font-size: 1rem;
    font-weight: 500;
    content: counter(count);
    animation: counter 5s linear infinite alternate;
}

@keyframes counter {
    0% {
        counter-increment: count 500;
    }

    10% {
        counter-increment: count 2500;
    }

    20% {
        counter-increment: count 10000;
    }

    30% {
        counter-increment: count 35000;
    }

    40% {
        counter-increment: count 45000;
    }

    50% {
        counter-increment: count 60000;
    }

    60% {
        counter-increment: count 61000;
    }

    70% {
        counter-increment: count 64000;
    }

    80% {
        counter-increment: count 66000;
    }

    90% {
        counter-increment: count 67000;
    }

    100% {
        counter-increment: count 69000;
    }
}